/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * this following lines are added by Yisong
 * @updated 2017-04-14
 * I change the original template 'base.config file
 * 
 */


// this lines added by Yisong
process.executor = 'pbs'
process.cpus     = 40
process.memory   = 300G

process {
  // Remember to configure `executor` in your personal config file
  // otherwise, Nextflow defaults to 'local' and runs on the head node
  //cpus = 8
  //memory = 40.GB
  //time = 10.h

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Environment modules and resource requirements
  $makeSTARindex {
      cpus = 4
      memory = 60.GB
      time = 5.h
  }
  $makeHISATindex {
    cpus = 4
    memory = 60.GB
    time = 5.h
  }
  $fastqc {
    memory = 32.GB
    time = 8.h
  }
  $trim_galore{
    memory = 32.GB
    time = 8.h
  }
  $star {
    cpus = 4
    memory = 60.GB
    time = 8.h
  }
  $hisat2Align {
    cpus = 4
    memory = 60.GB
    time = 8.h
  }
  $hisat2_sortOutput {
    cpus = 4
    memory = 32.GB
    time = 8.h
  }
  $rseqc {
    cpus = 4
    memory = 32.GB
    time = 7.h
  }
  $featureCounts {
    memory = 2.GB
  }
  $merge_featureCounts {
    memory = 2.GB
  }
  $stringtieFPKM {
    memory = 2.GB
  }
  $dupradar {
    memory = 4.GB
  }
  $sample_correlation {
    memory = 16.GB
  }
}